/* .shadows {
    box-shadow: 30px 0 30px -10px #3D8361, -12px 0 8px -10px #3D8361,0px -10px 10px #3D8361;
} */

.hoverText {
    color: #EDF1E4;
    transition: color 0.3s ease-in;
}

.imgs {
    transition: color .3s ease-in-out;
}


