/* .shadows {
    box-shadow: 0 10px 40px 2px #002b23, 0 -9px 50px 0px #3d8361, 12px 0 15px -4px #3d8361, -12px 0 15px -4px #3d8361;
} */


.hoverText {
    color: #EDF1E4;
    transition: color 0.3s ease-in;
}

.imgs {
    transition: color .3s ease-in-out;
}

.outlines-border {
    border-radius: 16px;
    border: 2px solid;
    border-image:linear-gradient(#d3caa2bc, transparent) 30;
}

.fade-in-element {
    opacity: 0;
    transition: opacity 4s ease-in-out;
}

.fade-in {
    opacity: 2;
}